.zjy-form {
  overflow: hidden;
  .form-item {
    display: inline-block;
    margin-bottom: 20px;
    &.block {
      display: block;
    }
    &.pull-right {
      float: right !important;
    }
  }
}

.zjy-form {
  .el-input__inner, .el-textarea__inner {
    border-radius: 0;
  }
  .el-textarea__inner {
    height: 100px;
  }
  .el-form-item {
    &.inline {
      display: inline-block;
    }
    &.pull-right {
      float: right;
    }
  }

  .zjy-form__title {
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
  }
  // #36c6d3
  // .el-form-item.is-validating .el-input__inner,
  // .el-form-item.is-validating .el-input__inner:focus, 
  // .el-form-item.is-validating .el-textarea__inner, 
  // .el-form-item.is-validating .el-textarea__inner:focus {
  //   border-color: #67c23a;
  //  }
}