@import './menu.scss';
@import './mixin.scss';
@import './transition.scss';
@import './table.scss';
@import './pagination.scss';
@import './search.scss';
@import './dialog.scss';
@import './button.scss';
@import './input.scss';
@import './steps.scss';
@import './select.scss';
@import './form.scss';

.main-container {
  margin-left: 160px;
  &.hideSide {
    margin-left: 54px;
  }
}

.zjy-header {
  height: 60px;
  line-height: 60px;
  position: relative;
  z-index: 999;
  margin-left: 160px;
}

#nprogress .bar {
  background: #37c6d4 !important; // position: fixed;
  // z-index: 1031;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 2px;
}

// router-link
.spacer {
  height: 20px;
  background-color: #dddddd;
  display: inline-block;
  width: 1px;
  vertical-align: text-bottom;
  margin: 0 5px;
}

// breadcrumb
.el-breadcrumb__inner a:hover, .el-breadcrumb__inner:hover {
  color: #37c6d4;
}

// icon
.zjy-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

// 每个路由页面设置
.zjy-app {
  padding: 10px 20px;
}

.zjy-btn-view {
  .zjy-icon {
    background: url('../assets/images/zjy-icon-view.png') no-repeat 0 2px;
  }
}

.zjy-btn-delete {
  .zjy-icon {
    background: url('../assets/images/zjy-icon-delete.png') no-repeat 0 0;
  }
}

